<%= render 'welcome/partials/admin_header' %>
<%= render 'welcome/partials/admin_nav' %>

<section class="content">
	<div class="g12"> 
		<h1>Cadastrar Nova Clinica</h1>
		<p>Descrição da seção...</p>
		<form id="form" action="" method="post" autocomplete="off">
			<%= render 'form' %>
		</form>
	</div>
</section>

<%= render 'welcome/partials/footer' %>

