<body>
<%= render 'welcome/partials/admin_header' %>
<%= render 'welcome/partials/admin_nav' %>

<section class="content">
	<div class="g12"> 
		<h1>Atualizar Teste de Droga</h1>
		<p>Preencha os resultados, nome do aplicador e anotações quando houver.</p>
		<form id="form" action="" method="post" autocomplete="off">
			<%= render 'edit_form' %>
		</form>
	</div>
</section>

<%= render 'welcome/partials/footer' %>




