<body>
<%= render 'welcome/partials/admin_header' %>
<%= render 'welcome/partials/admin_nav' %>

<section class="content">
	<div class="g12"> 
		<h1>Cadastrar Novo Teste de Droga</h1>
		<p>Preencha as informações e cadastre o teste de droga.</p>
		<form id="form" action="" method="post" autocomplete="off">
			<%= render 'form' %>
		</form>
	</div>
</section>

<%= render 'welcome/partials/footer' %>




