<%= render 'welcome/partials/admin_header' %>
<%= render 'welcome/partials/admin_nav' %>
<section class="content">
	<div class="g12">
		<h1>Editar Testagem</h1>
		<p>Editar informações de uma testagem.</p>
		<form id="form" action="" method="post" autocomplete="off">
				<%= render 'edit_form' %>	
		</form>
	</div>
</section>

<%= render 'welcome/partials/footer' %>
