<body>
<%= render 'welcome/partials/admin_header' %>
<%= render 'welcome/partials/admin_nav' %>
<section class="content">
	<div class="g12"> 
		<h1>Sorteio Motivado</h1>

   		<p>Esse tipo de sorteio se escolhe determinados funcionários para realizar os testes</p>
		<form id="form" action="" method="post" autocomplete="off">
			<%= render 'form_selection_motivado' %>
		</form>
	</div>
</section>

<%= render 'welcome/partials/footer' %>
