<body>
<%= render 'welcome/partials/admin_header' %>
<%= render 'welcome/partials/admin_nav' %>

<section class="content">
	<div class="g12"> 
		 <h1>Sorteio de Amostras Aleatórias</h1>
   		<p>Sorteio feito de forma aleatória.</p>
		<form id="form" action="" method="post" autocomplete="off">
			<%= render 'form_selection_random' %>
		</form>
	</div>
</section>

<%= render 'welcome/partials/footer' %>
